@using GC.Data.Entities
@model Rating
@{
    ViewBag.Title = "Details";
}
<h2>Details</h2>
<div>
    <h4>Rating</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.RatingValue)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RatingValue)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RatingId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
